.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  gap: 15px;
  padding-top: 80px;
}

.photo-card {
  border: 1px solid pink;
  border-radius: 6px;
  overflow: hidden;
  transition: transform 500ms ease-in-out, box-shadow 500ms ease-in-out,
    border-radius 500ms ease-in-out;
  &:hover,
  &:focus {
    box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    transform: scale(1.05);
  }
}

.photo-thumb {
  height: 300px;
  width: 460px;
}

.info {
  display: flex;
  justify-content: center;
}

b {
  margin-bottom: 5px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-right: 20px;
  margin-bottom: 10px;
}
